@charset "UTF-8";

    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(to right, rgb(254, 246, 0), rgb(253, 113, 6));
    }
    
    .box{
        color: white;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.4);
        padding: 15px;
        border-radius: 15px;
        width: 28%;
    }
    
    fieldset{
        border: 3px solid rgb(254, 246, 0);
    }

    legend{
        border: 1px solid rgb(254, 246, 0);
        padding: 10px;
        text-align: center;
        background-color: rgb(250, 208, 42);
        border-radius: 8px;
    }

    .inputbox{
        position: relative;
    }

    .inputUser{
        background: none;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        color: white;
        font-size: 15px;
        width: 100%;
        letter-spacing: 2px;
    }

    .labelInput{
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        transition: 0.5s;
    }

    .inputUser:focus ~ .labelInput,
    .inputUser:valid ~.labelInput{
        top: -20px;
        font-size: 12px;
        color:rgb(254, 246, 0);

    }

    #data_nascimento{
        border: none;
        padding: 8px;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
    }

    #submit{
        background-image: linear-gradient(to right, rgb(254, 246, 0), rgb(253, 113, 6));
        width: 100%;
        border: none;
        padding: 15px;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        cursor:pointer;
    }

    #submit:hover{
        background-image: linear-gradient(to right, rgba(208, 222, 13, 0.964), rgb(222, 105, 17));
    }

